/* ai_guide_before_input (3-0-0) */

position: relative;
width: 1080px;
height: 2400px;

background: #FFFFFF;


/* Rectangle 51 */

position: absolute;
width: 1080px;
height: 327px;
left: 0px;
top: 1776px;

background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);


/* Group 2 */

position: absolute;
width: 352px;
height: 91px;
left: 613px;
top: 383px;



/* Rectangle 2 */

position: absolute;
width: 352px;
height: 91px;
left: 613px;
top: 383px;

background: #2B1E1A;
border-radius: 85px;


/* 가이드 받기 */

position: absolute;
width: 241px;
height: 31px;
left: 669px;
top: 406px;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 400;
font-size: 45px;
line-height: 51px;
text-align: center;
letter-spacing: 0.1em;

color: #FFFFFF;



/* navigation_bar */

position: absolute;
width: 1080px;
height: 295px;
left: 0px;
top: 2103px;



/* Rectangle 1 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FFFFFF;
box-shadow: 0px -5px 20px rgba(0, 0, 0, 0.25);


/* library */

position: absolute;
height: 112px;
left: 13.15%;
right: 76.48%;
top: 48px;



/* Vector */

position: absolute;
left: 6.25%;
right: 81.25%;
top: 18.75%;
bottom: 9.38%;

border: 1px solid #2B1E1A;


/* Vector */

position: absolute;
left: 21.88%;
right: 53.12%;
top: 43.75%;
bottom: 21.88%;

border: 1px solid #2B1E1A;


/* Vector */

position: absolute;
left: 21.88%;
right: 53.12%;
top: 31.25%;
bottom: 9.38%;

border: 1px solid #2B1E1A;


/* Vector */

position: absolute;
left: 50%;
right: 31.25%;
top: 9.38%;
bottom: 9.38%;

border: 1px solid #2B1E1A;


/* Vector */

position: absolute;
left: 71.09%;
right: 6.25%;
top: 18.75%;
bottom: 9.38%;

border: 1px solid #2B1E1A;


/* gallery */

position: absolute;
height: 138px;
left: 43.8%;
right: 43.43%;
top: 34px;



/* Vector */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 20.83%;
bottom: 20.83%;

background: #2B1E1A;


/* ai_guide */

position: absolute;
height: 106px;
left: 76.94%;
right: 13.24%;
top: 50px;



/* Group */

position: absolute;
left: 8.73%;
right: 8.33%;
top: 8.33%;
bottom: 0.78%;



/* Vector */

position: absolute;
left: 50.32%;
right: 46.2%;
top: 96.43%;
bottom: 0.78%;



/* Vector */

position: absolute;
left: 8.73%;
right: 8.33%;
top: 8.33%;
bottom: 8.73%;

background: #2B1E1A;


/* 라이브러리 */

position: absolute;
left: 9.07%;
right: 72.5%;
top: 60.12%;
bottom: 22.02%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 45px;
text-align: center;
letter-spacing: 0.1em;

color: #2B1E1A;



/* 갤러리 */

position: absolute;
left: 44.44%;
right: 44.63%;
top: 60.12%;
bottom: 22.02%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 45px;
text-align: center;
letter-spacing: 0.1em;

color: #2B1E1A;



/* AI 가이드 */

position: absolute;
left: 73.7%;
right: 9.91%;
top: 60.12%;
bottom: 22.02%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 45px;
text-align: center;
letter-spacing: 0.1em;

color: #2B1E1A;



/* Frame 27 */

position: absolute;
width: 852px;
height: 94px;
left: calc(50% - 852px/2 - 1px);
top: 140px;



/* 내용을 입력하세요. */

position: absolute;
width: 852px;
height: 45px;
left: 0px;
top: 44px;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 45px;
letter-spacing: 0.1em;

color: rgba(43, 30, 26, 0.27);



/* Line 10 */

position: absolute;
width: 852px;
height: 0px;
left: 0px;
top: 94px;

border: 1px solid #000000;


/* 커피에 대한 정보를 입력해주세요. */

position: absolute;
width: 762px;
height: 51px;
left: 202px;
top: 98px;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 700;
font-size: 45px;
line-height: 51px;
/* identical to box height */
letter-spacing: 0.1em;

color: #2B1E1A;



/* * 국가/지역, 품종, 로스팅 포인트, 가공 방식 등을 자세히 입력할수록 더 정확한 테이스팅 노트를 추측할 수 있습니다. */

position: absolute;
width: 852px;
height: 68px;
left: 113px;
top: 251px;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 34px;
letter-spacing: 0.1em;

color: #262626;



/* ai_guide */

position: absolute;
height: 75px;
left: 10.46%;
right: 82.59%;
top: 79px;



/* Group */

position: absolute;
left: 8.73%;
right: 8.33%;
top: 8.33%;
bottom: 0.78%;



/* Vector */

position: absolute;
left: 50.32%;
right: 46.2%;
top: 96.43%;
bottom: 0.78%;



/* Vector */

position: absolute;
left: 8.73%;
right: 8.33%;
top: 8.33%;
bottom: 8.73%;

background: #2B1E1A;


/* guide_tap */

position: absolute;
width: 852px;
height: 1299px;
left: 113px;
top: 538px;



/* Rectangle 72 */

box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FFFFFF;
border: 2px solid #2B1E1A;
border-radius: 50px;


/* 입력하신 내용을 바탕으로 AI가 커피를 즐길 수 있게 도와줍니다 :) */

position: absolute;
left: 5.16%;
right: 5.28%;
top: 44.5%;
bottom: 48.58%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 45px;
text-align: center;
letter-spacing: 0.1em;

color: rgba(43, 30, 26, 0.27);

