/* creation_spread_2 (1-1-0) */

position: relative;
width: 1080px;
height: 2400px;

background: #FFFFFF;


/* library_component */

position: absolute;
width: 972px;
height: 282px;
left: 49px;
top: 1821px;



/* Group 3 */

position: absolute;
left: 70.27%;
right: 15.33%;
top: 77.3%;
bottom: 0%;



/* Rectangle 2 */

position: absolute;
left: 70.27%;
right: 15.33%;
top: 77.3%;
bottom: 0%;

background: #2B1E1A;
border-radius: 20px;


/* #바닐라 */

position: absolute;
left: 70.27%;
right: 15.33%;
top: 82.98%;
bottom: 7.45%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 34px;
text-align: center;
letter-spacing: 0.1em;

color: #FFFFFF;



/* Group 5 */

position: absolute;
left: 85.6%;
right: 0%;
top: 77.3%;
bottom: 0%;



/* Rectangle 2 */

position: absolute;
left: 85.6%;
right: 0%;
top: 77.3%;
bottom: 0%;

background: #2B1E1A;
border-radius: 20px;


/* #초콜릿 */

position: absolute;
left: 85.6%;
right: 0%;
top: 82.98%;
bottom: 7.45%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 34px;
text-align: center;
letter-spacing: 0.1em;

color: #FFFFFF;



/* Group 4 */

position: absolute;
left: 57.82%;
right: 30.66%;
top: 77.3%;
bottom: 0%;



/* Rectangle 2 */

position: absolute;
left: 57.82%;
right: 30.66%;
top: 77.3%;
bottom: 0%;

background: #2B1E1A;
border-radius: 20px;


/* #레몬 */

position: absolute;
left: 57.82%;
right: 30.66%;
top: 82.98%;
bottom: 7.45%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 34px;
text-align: center;
letter-spacing: 0.1em;

color: #FFFFFF;



/* Rectangle 33 */

box-sizing: border-box;

position: absolute;
left: 72.74%;
right: 0%;
top: 0.71%;
bottom: 36.52%;

background: #FFFFFF;
border: 2px solid rgba(90, 58, 46, 0.3);
border-radius: 10px;


/* 산미 */

position: absolute;
left: 74.07%;
right: 17.7%;
top: 7.8%;
bottom: 76.6%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 34px;
text-align: center;

color: #2B1E1A;



/* 콜롬비아 엘 앤칸토 게이샤 */

position: absolute;
left: 0.41%;
right: 27.26%;
top: 17.73%;
bottom: 66.67%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 57px;

color: #2B1E1A;



/* 본투비클래식 본점 */

position: absolute;
left: 4.32%;
right: 61.73%;
top: 0.35%;
bottom: 84.04%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 34px;

color: #262626;



/* 콜롬비아 / 내추럴 / 라이트 / 필터 */

position: absolute;
left: 0.41%;
right: 44.34%;
top: 41.49%;
bottom: 42.91%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 34px;

color: #262626;



/* 레몬향도 엄청 세게 나서 신기하다 */

position: absolute;
left: 0.41%;
right: 44.34%;
top: 61.7%;
bottom: 22.7%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 40px;

color: #262626;



/* 2026-01-02 */

position: absolute;
left: 34.26%;
right: 37.96%;
top: 0%;
bottom: 84.4%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 34px;

color: #262626;



/* 바디 */

position: absolute;
left: 74.07%;
right: 17.7%;
top: 25.18%;
bottom: 59.22%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 34px;
text-align: center;

color: #2B1E1A;



/* 쓴맛 */

position: absolute;
left: 74.07%;
right: 17.7%;
top: 42.55%;
bottom: 41.84%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 34px;
text-align: center;

color: #2B1E1A;



/* Rectangle 34 */

position: absolute;
left: 82.72%;
right: 16.15%;
top: 8.51%;
bottom: 80.85%;

background: #2B1E1A;


/* Rectangle 35 */

position: absolute;
left: 82.72%;
right: 16.15%;
top: 25.53%;
bottom: 63.83%;

background: #2B1E1A;


/* Rectangle 36 */

position: absolute;
left: 82.72%;
right: 16.15%;
top: 43.26%;
bottom: 46.1%;

background: #2B1E1A;


/* Rectangle 37 */

position: absolute;
left: 84.16%;
right: 14.71%;
top: 8.51%;
bottom: 80.85%;

background: #2B1E1A;


/* Rectangle 38 */

position: absolute;
left: 84.16%;
right: 14.71%;
top: 25.53%;
bottom: 63.83%;

background: #2B1E1A;


/* Rectangle 40 */

position: absolute;
left: 85.6%;
right: 13.27%;
top: 8.51%;
bottom: 80.85%;

background: #2B1E1A;


/* Rectangle 48 */

position: absolute;
left: 85.6%;
right: 13.27%;
top: 25.53%;
bottom: 63.83%;

background: #2B1E1A;


/* Rectangle 42 */

position: absolute;
left: 87.04%;
right: 11.83%;
top: 8.51%;
bottom: 80.85%;

background: #2B1E1A;


/* Rectangle 49 */

position: absolute;
left: 87.04%;
right: 11.83%;
top: 25.53%;
bottom: 63.83%;

background: #2B1E1A;


/* Rectangle 44 */

position: absolute;
left: 88.48%;
right: 10.39%;
top: 8.51%;
bottom: 80.85%;

background: #2B1E1A;


/* Rectangle 50 */

position: absolute;
left: 88.48%;
right: 10.39%;
top: 25.53%;
bottom: 63.83%;

background: #2B1E1A;


/* Rectangle 46 */

position: absolute;
left: 89.92%;
right: 8.95%;
top: 8.51%;
bottom: 80.85%;

background: #2B1E1A;


/* Rectangle 47 */

position: absolute;
left: 91.36%;
right: 7.51%;
top: 8.51%;
bottom: 80.85%;

background: #2B1E1A;


/* mdi:location */

position: absolute;
height: 35px;
left: 0%;
right: 96.4%;
top: 0px;



/* Vector */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 8.33%;
bottom: 8.33%;

background: #2B1E1A;


/* famicons:calendar-sharp */

position: absolute;
height: 30px;
left: 30.14%;
right: 66.77%;
top: 3px;



/* Vector */

position: absolute;
left: 6.25%;
right: 6.25%;
top: 6.25%;
bottom: 6.25%;

background: #2B1E1A;


/* Rectangle 51 */

position: absolute;
width: 1080px;
height: 327px;
left: 0px;
top: 1776px;

background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);


/* search_bar */

position: absolute;
width: 984px;
height: 589.85px;
left: 43px;
top: 65px;



/* Group 11 */

position: absolute;
left: 67.78%;
right: 0.02%;
top: 88.33%;
bottom: 0%;



/* Group 8 */

position: absolute;
left: 67.78%;
right: 16.79%;
top: 88.33%;
bottom: 0%;



/* Rectangle 2 */

position: absolute;
left: 67.78%;
right: 16.79%;
top: 88.33%;
bottom: 0%;

background: #3A3C40;
border-radius: 26px;


/* 최신순 */

position: absolute;
left: 70.22%;
right: 19.21%;
top: 91.21%;
bottom: 4.88%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 34px;
text-align: center;
letter-spacing: 0.1em;

color: #FFFFFF;



/* Group 9 */

position: absolute;
left: 84.55%;
right: 0.02%;
top: 88.33%;
bottom: 0%;



/* Rectangle 2 */

position: absolute;
left: 84.55%;
right: 0.02%;
top: 88.33%;
bottom: 0%;

background: #A0A0A0;
border-radius: 26px;


/* 별점순 */

position: absolute;
left: 86.99%;
right: 2.44%;
top: 91.21%;
bottom: 4.88%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 34px;
text-align: center;
letter-spacing: 0.1em;

color: #FFFFFF;



/* Group 6 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 13.88%;



/* Rectangle 8 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 77.28%;

background: #F1F1F1;
border-radius: 20px;


/* Rectangle 9 */

position: absolute;
left: 0%;
right: 0%;
top: 27.3%;
bottom: 13.88%;

background: #F1F1F1;
border-radius: 20px;


/* 검색어를 입력하세요. */

position: absolute;
left: 13.62%;
right: 31.4%;
top: 7.46%;
bottom: 85.08%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 57px;
letter-spacing: 0.1em;

color: #949494;



/* 7/10 */

position: absolute;
left: 89.43%;
right: 0%;
top: 46.28%;
bottom: 46.26%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 34px;

color: #2B1E1A;



/* 3/10 */

position: absolute;
left: 89.43%;
right: 0%;
top: 59.34%;
bottom: 33.2%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 34px;

color: #2B1E1A;



/* 5/10 */

position: absolute;
left: 89.43%;
right: 0%;
top: 72.39%;
bottom: 20.15%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 34px;

color: #2B1E1A;



/* 상세 필터 */

position: absolute;
left: 7.93%;
right: 37.09%;
top: 30.86%;
bottom: 61.69%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 34px;
letter-spacing: 0.1em;

color: #949494;



/* material-symbols:search-rounded */

position: absolute;
height: 84px;
left: 2.85%;
right: 88.62%;
top: 27px;



/* Vector */

position: absolute;
left: 12.5%;
right: 14.27%;
top: 12.5%;
bottom: 14.27%;

background: #AAAAAA;


/* weui:arrow-outlined */

position: absolute;
height: 78px;
left: 0.51%;
right: 95.53%;
top: 181px;

transform: rotate(90deg);


/* Vector */

position: absolute;
left: 45.92%;
right: -5.37%;
top: 10.22%;
bottom: 35.74%;

background: #AAAAAA;
transform: rotate(-90deg);


/* Line 1 */

position: absolute;
left: 19.21%;
right: 12.6%;
top: 50.01%;
bottom: 49.99%;

border: 10px solid #AAAAAA;


/* Line 3 */

position: absolute;
left: 19.21%;
right: 12.6%;
top: 63.07%;
bottom: 36.93%;

border: 10px solid #AAAAAA;


/* Line 5 */

position: absolute;
left: 19.21%;
right: 12.6%;
top: 76.12%;
bottom: 23.88%;

border: 10px solid #AAAAAA;


/* Line 2 */

position: absolute;
left: 19.21%;
right: 35.87%;
top: 50.01%;
bottom: 49.99%;

border: 10px solid #2B1E1A;


/* Line 4 */

position: absolute;
left: 19.21%;
right: 60.26%;
top: 63.07%;
bottom: 36.93%;

border: 10px solid #2B1E1A;


/* Line 6 */

position: absolute;
left: 19.21%;
right: 45.93%;
top: 76.12%;
bottom: 23.88%;

border: 10px solid #2B1E1A;


/* Rectangle 10 */

position: absolute;
left: 61.95%;
right: 34.91%;
top: 45.44%;
bottom: 49.31%;

background: #2B1E1A;
transform: matrix(0.68, -0.73, 0.68, 0.73, 0, 0);


/* Rectangle 11 */

position: absolute;
left: 36.89%;
right: 59.96%;
top: 58.49%;
bottom: 36.26%;

background: #2B1E1A;
transform: matrix(0.68, -0.73, 0.68, 0.73, 0, 0);


/* Rectangle 12 */

position: absolute;
left: 51.22%;
right: 45.63%;
top: 71.54%;
bottom: 23.21%;

background: #2B1E1A;
transform: matrix(0.68, -0.73, 0.68, 0.73, 0, 0);


/* Group 3 */

position: absolute;
left: 2.85%;
right: 82.85%;
top: 42.89%;
bottom: 45.63%;



/* Rectangle 2 */

position: absolute;
left: 2.85%;
right: 82.85%;
top: 42.89%;
bottom: 45.63%;

background: #2B1E1A;
border-radius: 85px;


/* 산미 */

position: absolute;
left: 5.56%;
right: 85.66%;
top: 45.44%;
bottom: 48.52%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 40px;
text-align: center;
letter-spacing: 0.1em;

color: #FFFFFF;



/* Group 4 */

position: absolute;
left: 2.85%;
right: 82.85%;
top: 55.95%;
bottom: 32.58%;



/* Rectangle 2 */

position: absolute;
left: 2.85%;
right: 82.85%;
top: 55.95%;
bottom: 32.58%;

background: #2B1E1A;
border-radius: 85px;


/* 바디 */

position: absolute;
left: 5.56%;
right: 85.66%;
top: 58.5%;
bottom: 35.46%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 40px;
text-align: center;
letter-spacing: 0.1em;

color: #FFFFFF;



/* Group 5 */

position: absolute;
left: 2.85%;
right: 82.85%;
top: 69%;
bottom: 19.52%;



/* Rectangle 2 */

position: absolute;
left: 2.85%;
right: 82.85%;
top: 69%;
bottom: 19.52%;

background: #2B1E1A;
border-radius: 85px;


/* 쓴맛 */

position: absolute;
left: 5.56%;
right: 85.66%;
top: 71.55%;
bottom: 22.41%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 40px;
text-align: center;
letter-spacing: 0.1em;

color: #FFFFFF;



/* library_component */

position: absolute;
width: 972px;
height: 179px;
left: 49px;
top: 734px;



/* Rectangle 13 */

box-sizing: border-box;

position: absolute;
left: 72.74%;
right: 0%;
top: 1.12%;
bottom: 0%;

background: #FFFFFF;
border: 2px solid rgba(90, 58, 46, 0.3);
border-radius: 10px;


/* 산미 */

position: absolute;
left: 74.07%;
right: 17.7%;
top: 12.29%;
bottom: 63.13%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 34px;
text-align: center;

color: #2B1E1A;



/* 아이스 아메리카노 */

position: absolute;
left: 0.41%;
right: 27.26%;
top: 27.93%;
bottom: 47.49%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 57px;

color: #2B1E1A;



/* 파스쿠찌 대전카이스트점 */

position: absolute;
left: 4.32%;
right: 61.73%;
top: 0.56%;
bottom: 74.86%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 34px;

color: #262626;



/* 약간 물 같지만, 깔끔하고 좋음! */

position: absolute;
left: 0.41%;
right: 44.34%;
top: 71.51%;
bottom: 3.91%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 40px;

color: #262626;



/* 2026-01-02 */

position: absolute;
left: 42.9%;
right: 29.32%;
top: 0%;
bottom: 75.42%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 34px;

color: #262626;



/* 바디 */

position: absolute;
left: 74.07%;
right: 17.7%;
top: 39.66%;
bottom: 35.75%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 34px;
text-align: center;

color: #2B1E1A;



/* 쓴맛 */

position: absolute;
left: 74.07%;
right: 17.7%;
top: 67.04%;
bottom: 8.38%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 34px;
text-align: center;

color: #2B1E1A;



/* Rectangle 14 */

position: absolute;
left: 82.72%;
right: 16.15%;
top: 13.41%;
bottom: 69.83%;

background: #2B1E1A;


/* Rectangle 21 */

position: absolute;
left: 82.72%;
right: 16.15%;
top: 40.22%;
bottom: 43.02%;

background: #2B1E1A;


/* Rectangle 28 */

position: absolute;
left: 82.72%;
right: 16.15%;
top: 68.16%;
bottom: 15.08%;

background: #2B1E1A;


/* Rectangle 15 */

position: absolute;
left: 84.16%;
right: 14.71%;
top: 13.41%;
bottom: 69.83%;

background: #2B1E1A;


/* Rectangle 22 */

position: absolute;
left: 84.16%;
right: 14.71%;
top: 40.22%;
bottom: 43.02%;

background: #2B1E1A;


/* Rectangle 29 */

position: absolute;
left: 84.16%;
right: 14.71%;
top: 68.16%;
bottom: 15.08%;

background: #2B1E1A;


/* Rectangle 16 */

position: absolute;
left: 85.6%;
right: 13.27%;
top: 13.41%;
bottom: 69.83%;

background: #2B1E1A;


/* Rectangle 30 */

position: absolute;
left: 85.6%;
right: 13.27%;
top: 68.16%;
bottom: 15.08%;

background: #2B1E1A;


/* Rectangle 17 */

position: absolute;
left: 87.04%;
right: 11.83%;
top: 13.41%;
bottom: 69.83%;

background: #2B1E1A;


/* Rectangle 31 */

position: absolute;
left: 87.04%;
right: 11.83%;
top: 68.16%;
bottom: 15.08%;

background: #2B1E1A;


/* Rectangle 18 */

position: absolute;
left: 88.48%;
right: 10.39%;
top: 13.41%;
bottom: 69.83%;

background: #2B1E1A;


/* Rectangle 32 */

position: absolute;
left: 88.48%;
right: 10.39%;
top: 68.16%;
bottom: 15.08%;

background: #2B1E1A;


/* Rectangle 19 */

position: absolute;
left: 89.92%;
right: 8.95%;
top: 13.41%;
bottom: 69.83%;

background: #2B1E1A;


/* Rectangle 20 */

position: absolute;
left: 91.36%;
right: 7.51%;
top: 13.41%;
bottom: 69.83%;

background: #2B1E1A;


/* mdi:location */

position: absolute;
height: 35px;
left: 0%;
right: 96.4%;
top: 0px;



/* Vector */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 8.33%;
bottom: 8.33%;

background: #2B1E1A;


/* famicons:calendar-sharp */

position: absolute;
height: 30px;
left: 38.79%;
right: 58.13%;
top: 3px;



/* Vector */

position: absolute;
left: 6.25%;
right: 6.25%;
top: 6.25%;
bottom: 6.25%;

background: #2B1E1A;


/* library_component */

position: absolute;
width: 972px;
height: 179px;
left: 49px;
top: 980px;



/* Rectangle 13 */

box-sizing: border-box;

position: absolute;
left: 72.74%;
right: 0%;
top: 1.12%;
bottom: 0%;

background: #FFFFFF;
border: 2px solid rgba(90, 58, 46, 0.3);
border-radius: 10px;


/* 산미 */

position: absolute;
left: 74.07%;
right: 17.7%;
top: 12.29%;
bottom: 63.13%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 34px;
text-align: center;

color: #2B1E1A;



/* 아이스 아메리카노 */

position: absolute;
left: 0.41%;
right: 27.26%;
top: 27.93%;
bottom: 47.49%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 57px;

color: #2B1E1A;



/* 파스쿠찌 대전카이스트점 */

position: absolute;
left: 4.32%;
right: 61.73%;
top: 0.56%;
bottom: 74.86%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 34px;

color: #262626;



/* 약간 물 같지만, 깔끔하고 좋음! */

position: absolute;
left: 0.41%;
right: 44.34%;
top: 71.51%;
bottom: 3.91%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 40px;

color: #262626;



/* 2026-01-02 */

position: absolute;
left: 42.9%;
right: 29.32%;
top: 0%;
bottom: 75.42%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 34px;

color: #262626;



/* 바디 */

position: absolute;
left: 74.07%;
right: 17.7%;
top: 39.66%;
bottom: 35.75%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 34px;
text-align: center;

color: #2B1E1A;



/* 쓴맛 */

position: absolute;
left: 74.07%;
right: 17.7%;
top: 67.04%;
bottom: 8.38%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 34px;
text-align: center;

color: #2B1E1A;



/* Rectangle 14 */

position: absolute;
left: 82.72%;
right: 16.15%;
top: 13.41%;
bottom: 69.83%;

background: #2B1E1A;


/* Rectangle 21 */

position: absolute;
left: 82.72%;
right: 16.15%;
top: 40.22%;
bottom: 43.02%;

background: #2B1E1A;


/* Rectangle 28 */

position: absolute;
left: 82.72%;
right: 16.15%;
top: 68.16%;
bottom: 15.08%;

background: #2B1E1A;


/* Rectangle 15 */

position: absolute;
left: 84.16%;
right: 14.71%;
top: 13.41%;
bottom: 69.83%;

background: #2B1E1A;


/* Rectangle 22 */

position: absolute;
left: 84.16%;
right: 14.71%;
top: 40.22%;
bottom: 43.02%;

background: #2B1E1A;


/* Rectangle 29 */

position: absolute;
left: 84.16%;
right: 14.71%;
top: 68.16%;
bottom: 15.08%;

background: #2B1E1A;


/* Rectangle 16 */

position: absolute;
left: 85.6%;
right: 13.27%;
top: 13.41%;
bottom: 69.83%;

background: #2B1E1A;


/* Rectangle 30 */

position: absolute;
left: 85.6%;
right: 13.27%;
top: 68.16%;
bottom: 15.08%;

background: #2B1E1A;


/* Rectangle 17 */

position: absolute;
left: 87.04%;
right: 11.83%;
top: 13.41%;
bottom: 69.83%;

background: #2B1E1A;


/* Rectangle 31 */

position: absolute;
left: 87.04%;
right: 11.83%;
top: 68.16%;
bottom: 15.08%;

background: #2B1E1A;


/* Rectangle 18 */

position: absolute;
left: 88.48%;
right: 10.39%;
top: 13.41%;
bottom: 69.83%;

background: #2B1E1A;


/* Rectangle 32 */

position: absolute;
left: 88.48%;
right: 10.39%;
top: 68.16%;
bottom: 15.08%;

background: #2B1E1A;


/* Rectangle 19 */

position: absolute;
left: 89.92%;
right: 8.95%;
top: 13.41%;
bottom: 69.83%;

background: #2B1E1A;


/* Rectangle 20 */

position: absolute;
left: 91.36%;
right: 7.51%;
top: 13.41%;
bottom: 69.83%;

background: #2B1E1A;


/* mdi:location */

position: absolute;
height: 35px;
left: 0%;
right: 96.4%;
top: 0px;



/* Vector */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 8.33%;
bottom: 8.33%;

background: #2B1E1A;


/* famicons:calendar-sharp */

position: absolute;
height: 30px;
left: 38.79%;
right: 58.13%;
top: 3px;



/* Vector */

position: absolute;
left: 6.25%;
right: 6.25%;
top: 6.25%;
bottom: 6.25%;

background: #2B1E1A;


/* library_component */

position: absolute;
width: 972px;
height: 282px;
left: 49px;
top: 1226px;



/* Group 3 */

position: absolute;
left: 70.27%;
right: 15.33%;
top: 77.3%;
bottom: 0%;



/* Rectangle 2 */

position: absolute;
left: 70.27%;
right: 15.33%;
top: 77.3%;
bottom: 0%;

background: #2B1E1A;
border-radius: 20px;


/* #바닐라 */

position: absolute;
left: 70.27%;
right: 15.33%;
top: 82.98%;
bottom: 7.45%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 34px;
text-align: center;
letter-spacing: 0.1em;

color: #FFFFFF;



/* Group 5 */

position: absolute;
left: 85.6%;
right: 0%;
top: 77.3%;
bottom: 0%;



/* Rectangle 2 */

position: absolute;
left: 85.6%;
right: 0%;
top: 77.3%;
bottom: 0%;

background: #2B1E1A;
border-radius: 20px;


/* #초콜릿 */

position: absolute;
left: 85.6%;
right: 0%;
top: 82.98%;
bottom: 7.45%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 34px;
text-align: center;
letter-spacing: 0.1em;

color: #FFFFFF;



/* Group 4 */

position: absolute;
left: 57.82%;
right: 30.66%;
top: 77.3%;
bottom: 0%;



/* Rectangle 2 */

position: absolute;
left: 57.82%;
right: 30.66%;
top: 77.3%;
bottom: 0%;

background: #2B1E1A;
border-radius: 20px;


/* #레몬 */

position: absolute;
left: 57.82%;
right: 30.66%;
top: 82.98%;
bottom: 7.45%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 34px;
text-align: center;
letter-spacing: 0.1em;

color: #FFFFFF;



/* Rectangle 33 */

box-sizing: border-box;

position: absolute;
left: 72.74%;
right: 0%;
top: 0.71%;
bottom: 36.52%;

background: #FFFFFF;
border: 2px solid rgba(90, 58, 46, 0.3);
border-radius: 10px;


/* 산미 */

position: absolute;
left: 74.07%;
right: 17.7%;
top: 7.8%;
bottom: 76.6%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 34px;
text-align: center;

color: #2B1E1A;



/* 콜롬비아 엘 앤칸토 게이샤 */

position: absolute;
left: 0.41%;
right: 27.26%;
top: 17.73%;
bottom: 66.67%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 57px;

color: #2B1E1A;



/* 본투비클래식 본점 */

position: absolute;
left: 4.32%;
right: 61.73%;
top: 0.35%;
bottom: 84.04%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 34px;

color: #262626;



/* 콜롬비아 / 내추럴 / 라이트 / 필터 */

position: absolute;
left: 0.41%;
right: 44.34%;
top: 41.49%;
bottom: 42.91%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 34px;

color: #262626;



/* 레몬향도 엄청 세게 나서 신기하다 */

position: absolute;
left: 0.41%;
right: 44.34%;
top: 61.7%;
bottom: 22.7%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 40px;

color: #262626;



/* 2026-01-02 */

position: absolute;
left: 34.26%;
right: 37.96%;
top: 0%;
bottom: 84.4%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 34px;

color: #262626;



/* 바디 */

position: absolute;
left: 74.07%;
right: 17.7%;
top: 25.18%;
bottom: 59.22%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 34px;
text-align: center;

color: #2B1E1A;



/* 쓴맛 */

position: absolute;
left: 74.07%;
right: 17.7%;
top: 42.55%;
bottom: 41.84%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 34px;
text-align: center;

color: #2B1E1A;



/* Rectangle 34 */

position: absolute;
left: 82.72%;
right: 16.15%;
top: 8.51%;
bottom: 80.85%;

background: #2B1E1A;


/* Rectangle 35 */

position: absolute;
left: 82.72%;
right: 16.15%;
top: 25.53%;
bottom: 63.83%;

background: #2B1E1A;


/* Rectangle 36 */

position: absolute;
left: 82.72%;
right: 16.15%;
top: 43.26%;
bottom: 46.1%;

background: #2B1E1A;


/* Rectangle 37 */

position: absolute;
left: 84.16%;
right: 14.71%;
top: 8.51%;
bottom: 80.85%;

background: #2B1E1A;


/* Rectangle 38 */

position: absolute;
left: 84.16%;
right: 14.71%;
top: 25.53%;
bottom: 63.83%;

background: #2B1E1A;


/* Rectangle 40 */

position: absolute;
left: 85.6%;
right: 13.27%;
top: 8.51%;
bottom: 80.85%;

background: #2B1E1A;


/* Rectangle 48 */

position: absolute;
left: 85.6%;
right: 13.27%;
top: 25.53%;
bottom: 63.83%;

background: #2B1E1A;


/* Rectangle 42 */

position: absolute;
left: 87.04%;
right: 11.83%;
top: 8.51%;
bottom: 80.85%;

background: #2B1E1A;


/* Rectangle 49 */

position: absolute;
left: 87.04%;
right: 11.83%;
top: 25.53%;
bottom: 63.83%;

background: #2B1E1A;


/* Rectangle 44 */

position: absolute;
left: 88.48%;
right: 10.39%;
top: 8.51%;
bottom: 80.85%;

background: #2B1E1A;


/* Rectangle 50 */

position: absolute;
left: 88.48%;
right: 10.39%;
top: 25.53%;
bottom: 63.83%;

background: #2B1E1A;


/* Rectangle 46 */

position: absolute;
left: 89.92%;
right: 8.95%;
top: 8.51%;
bottom: 80.85%;

background: #2B1E1A;


/* Rectangle 47 */

position: absolute;
left: 91.36%;
right: 7.51%;
top: 8.51%;
bottom: 80.85%;

background: #2B1E1A;


/* mdi:location */

position: absolute;
height: 35px;
left: 0%;
right: 96.4%;
top: 0px;



/* Vector */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 8.33%;
bottom: 8.33%;

background: #2B1E1A;


/* famicons:calendar-sharp */

position: absolute;
height: 30px;
left: 30.14%;
right: 66.77%;
top: 3px;



/* Vector */

position: absolute;
left: 6.25%;
right: 6.25%;
top: 6.25%;
bottom: 6.25%;

background: #2B1E1A;


/* library_component */

position: absolute;
width: 972px;
height: 179px;
left: 49px;
top: 1575px;



/* Rectangle 13 */

box-sizing: border-box;

position: absolute;
left: 72.74%;
right: 0%;
top: 1.12%;
bottom: 0%;

background: #FFFFFF;
border: 2px solid rgba(90, 58, 46, 0.3);
border-radius: 10px;


/* 산미 */

position: absolute;
left: 74.07%;
right: 17.7%;
top: 12.29%;
bottom: 63.13%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 34px;
text-align: center;

color: #2B1E1A;



/* 아이스 아메리카노 */

position: absolute;
left: 0.41%;
right: 27.26%;
top: 27.93%;
bottom: 47.49%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 57px;

color: #2B1E1A;



/* 파스쿠찌 대전카이스트점 */

position: absolute;
left: 4.32%;
right: 61.73%;
top: 0.56%;
bottom: 74.86%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 34px;

color: #262626;



/* 약간 물 같지만, 깔끔하고 좋음! */

position: absolute;
left: 0.41%;
right: 44.34%;
top: 71.51%;
bottom: 3.91%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 40px;

color: #262626;



/* 2026-01-02 */

position: absolute;
left: 42.9%;
right: 29.32%;
top: 0%;
bottom: 75.42%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 34px;

color: #262626;



/* 바디 */

position: absolute;
left: 74.07%;
right: 17.7%;
top: 39.66%;
bottom: 35.75%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 34px;
text-align: center;

color: #2B1E1A;



/* 쓴맛 */

position: absolute;
left: 74.07%;
right: 17.7%;
top: 67.04%;
bottom: 8.38%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 34px;
text-align: center;

color: #2B1E1A;



/* Rectangle 14 */

position: absolute;
left: 82.72%;
right: 16.15%;
top: 13.41%;
bottom: 69.83%;

background: #2B1E1A;


/* Rectangle 21 */

position: absolute;
left: 82.72%;
right: 16.15%;
top: 40.22%;
bottom: 43.02%;

background: #2B1E1A;


/* Rectangle 28 */

position: absolute;
left: 82.72%;
right: 16.15%;
top: 68.16%;
bottom: 15.08%;

background: #2B1E1A;


/* Rectangle 15 */

position: absolute;
left: 84.16%;
right: 14.71%;
top: 13.41%;
bottom: 69.83%;

background: #2B1E1A;


/* Rectangle 22 */

position: absolute;
left: 84.16%;
right: 14.71%;
top: 40.22%;
bottom: 43.02%;

background: #2B1E1A;


/* Rectangle 29 */

position: absolute;
left: 84.16%;
right: 14.71%;
top: 68.16%;
bottom: 15.08%;

background: #2B1E1A;


/* Rectangle 16 */

position: absolute;
left: 85.6%;
right: 13.27%;
top: 13.41%;
bottom: 69.83%;

background: #2B1E1A;


/* Rectangle 30 */

position: absolute;
left: 85.6%;
right: 13.27%;
top: 68.16%;
bottom: 15.08%;

background: #2B1E1A;


/* Rectangle 17 */

position: absolute;
left: 87.04%;
right: 11.83%;
top: 13.41%;
bottom: 69.83%;

background: #2B1E1A;


/* Rectangle 31 */

position: absolute;
left: 87.04%;
right: 11.83%;
top: 68.16%;
bottom: 15.08%;

background: #2B1E1A;


/* Rectangle 18 */

position: absolute;
left: 88.48%;
right: 10.39%;
top: 13.41%;
bottom: 69.83%;

background: #2B1E1A;


/* Rectangle 32 */

position: absolute;
left: 88.48%;
right: 10.39%;
top: 68.16%;
bottom: 15.08%;

background: #2B1E1A;


/* Rectangle 19 */

position: absolute;
left: 89.92%;
right: 8.95%;
top: 13.41%;
bottom: 69.83%;

background: #2B1E1A;


/* Rectangle 20 */

position: absolute;
left: 91.36%;
right: 7.51%;
top: 13.41%;
bottom: 69.83%;

background: #2B1E1A;


/* mdi:location */

position: absolute;
height: 35px;
left: 0%;
right: 96.4%;
top: 0px;



/* Vector */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 8.33%;
bottom: 8.33%;

background: #2B1E1A;


/* famicons:calendar-sharp */

position: absolute;
height: 30px;
left: 38.79%;
right: 58.13%;
top: 3px;



/* Vector */

position: absolute;
left: 6.25%;
right: 6.25%;
top: 6.25%;
bottom: 6.25%;

background: #2B1E1A;


/* navigation_bar */

position: absolute;
width: 1080px;
height: 295px;
left: 0px;
top: 2103px;



/* Rectangle 1 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FFFFFF;
box-shadow: 0px -5px 20px rgba(0, 0, 0, 0.25);


/* library */

position: absolute;
height: 111px;
left: 13.15%;
right: 76.57%;
top: 48px;



/* Vector */

position: absolute;
left: 3.12%;
right: 53.12%;
top: 15.62%;
bottom: 6.25%;

background: #2B1E1A;


/* Vector */

position: absolute;
left: 21.88%;
right: 53.12%;
top: 46.88%;
bottom: 25%;

background: #2B1E1A;


/* Vector */

position: absolute;
left: 50%;
right: 3.12%;
top: 6.25%;
bottom: 6.25%;

background: #2B1E1A;


/* gallery */

position: absolute;
height: 142px;
left: 43.8%;
right: 43.06%;
top: 34px;



/* Group */

position: absolute;
left: 22.92%;
right: 22.92%;
top: 22.92%;
bottom: 22.92%;



/* Vector */

position: absolute;
left: 22.92%;
right: 22.92%;
top: 22.92%;
bottom: 22.92%;

border: 1px solid #2B1E1A;


/* Vector */

position: absolute;
left: 35.42%;
right: 56.25%;
top: 35.42%;
bottom: 56.25%;

border: 1px solid #2B1E1A;


/* Vector */

position: absolute;
left: 33.33%;
right: 33.33%;
top: 50%;
bottom: 33.33%;

border: 1px solid #2B1E1A;


/* ai_guide */

position: absolute;
height: 106px;
left: 76.94%;
right: 13.24%;
top: 50px;



/* Group */

position: absolute;
left: 8.73%;
right: 8.33%;
top: 8.33%;
bottom: 0.78%;



/* Vector */

position: absolute;
left: 50.32%;
right: 46.2%;
top: 96.43%;
bottom: 0.78%;



/* Vector */

position: absolute;
left: 8.73%;
right: 8.33%;
top: 8.33%;
bottom: 8.73%;

background: #2B1E1A;


/* 라이브러리 */

position: absolute;
left: 9.07%;
right: 72.5%;
top: 60.12%;
bottom: 22.02%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 45px;
text-align: center;
letter-spacing: 0.1em;

color: #2B1E1A;



/* 갤러리 */

position: absolute;
left: 44.44%;
right: 44.63%;
top: 60.12%;
bottom: 22.02%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 45px;
text-align: center;
letter-spacing: 0.1em;

color: #2B1E1A;



/* AI 가이드 */

position: absolute;
left: 73.7%;
right: 9.91%;
top: 60.12%;
bottom: 22.02%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 45px;
text-align: center;
letter-spacing: 0.1em;

color: #2B1E1A;



/* Group 1 */

position: absolute;
width: 289px;
height: 131.08px;
left: 743px;
top: 1915px;



/* Rectangle 2 */

position: absolute;
width: 289px;
height: 131.08px;
left: 743px;
top: 1915px;

background: #2B1E1A;
border-radius: 85px;


/* 기록하기 */

position: absolute;
width: 198px;
height: 43.95px;
left: 789px;
top: 1954px;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 57px;
text-align: center;
letter-spacing: 0.1em;

color: #FFFFFF;



/* Rectangle 52 */

position: absolute;
width: 1080px;
height: 2399px;
left: 0px;
top: -1px;

background: rgba(104, 104, 104, 0.77);


/* details */

position: absolute;
width: 972px;
height: 1754px;
left: 54px;
top: 285px;
overflow-y: scroll;

background: #FFFFFF;
border-radius: 50px;


/* Frame 25 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;

position: absolute;
width: 851.4px;
height: 94px;
left: calc(50% - 851.4px/2 - 0.3px);
top: 365px;



/* 한줄평 */

width: 851.4px;
height: 34px;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 34px;
/* identical to box height */
letter-spacing: 0.1em;

color: #2B1E1A;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* 한줄평을 입력하세요. */

width: 851.4px;
height: 40px;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 700;
font-size: 35px;
line-height: 40px;
/* identical to box height */
letter-spacing: 0.1em;

color: rgba(43, 30, 26, 0.27);


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Line 10 */

width: 851.4px;
height: 0px;

border: 1px solid #000000;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Frame 27 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;

position: absolute;
width: 852px;
height: 94px;
left: calc(50% - 852px/2);
top: 595.77px;



/* 국가/지역 */

width: 852px;
height: 34px;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 34px;
/* identical to box height */
letter-spacing: 0.1em;

color: #2B1E1A;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* 국가/지역을 입력하세요. */

width: 852px;
height: 40px;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 700;
font-size: 35px;
line-height: 40px;
/* identical to box height */
letter-spacing: 0.1em;

color: rgba(43, 30, 26, 0.27);


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Line 10 */

width: 852px;
height: 0px;

border: 1px solid #000000;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Frame 34 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;

position: absolute;
width: 557px;
height: 94px;
left: calc(50% - 557px/2 - 147.5px);
top: 851.77px;



/* 가공 방식 */

width: 557px;
height: 34px;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 34px;
/* identical to box height */
letter-spacing: 0.1em;

color: #2B1E1A;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* 가공 방식을 입력하세요. */

width: 557px;
height: 40px;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 700;
font-size: 35px;
line-height: 40px;
/* identical to box height */
letter-spacing: 0.1em;

color: rgba(43, 30, 26, 0.27);


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Line 10 */

width: 557px;
height: 0px;

border: 1px solid #000000;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Frame 28 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;

position: absolute;
width: 852px;
height: 94px;
left: calc(50% - 852px/2);
top: 723.77px;



/* 품종 */

width: 852px;
height: 34px;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 34px;
/* identical to box height */
letter-spacing: 0.1em;

color: #2B1E1A;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* 품종을 입력하세요. */

width: 852px;
height: 40px;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 700;
font-size: 35px;
line-height: 40px;
/* identical to box height */
letter-spacing: 0.1em;

color: rgba(43, 30, 26, 0.27);


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Line 10 */

width: 852px;
height: 0px;

border: 1px solid #000000;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Frame 35 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 9px;

position: absolute;
width: 557px;
height: 92px;
left: calc(50% - 557px/2 - 147.5px);
top: 979.77px;



/* 로스팅 포인트 */

width: 557px;
height: 34px;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 34px;
/* identical to box height */
letter-spacing: 0.1em;

color: #2B1E1A;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* 로스팅 포인트를 입력하세요. */

width: 557px;
height: 40px;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 700;
font-size: 35px;
line-height: 40px;
/* identical to box height */
letter-spacing: 0.1em;

color: rgba(43, 30, 26, 0.27);


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Line 10 */

width: 557px;
height: 0px;

border: 1px solid #000000;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Frame 36 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;

position: absolute;
width: 557px;
height: 94px;
left: calc(50% - 557px/2 - 147.5px);
top: 1107.77px;



/* 추출 방식 */

width: 557px;
height: 34px;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 34px;
/* identical to box height */
letter-spacing: 0.1em;

color: #2B1E1A;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* 추출 방식을 입력하세요. */

width: 557px;
height: 40px;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 700;
font-size: 35px;
line-height: 40px;
/* identical to box height */
letter-spacing: 0.1em;

color: rgba(43, 30, 26, 0.27);


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Line 10 */

width: 557px;
height: 0px;

border: 1px solid #000000;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Frame 37 */

position: absolute;
width: 851px;
height: 94px;
left: calc(50% - 851px/2 - 0.5px);
top: 1246.77px;



/* 테이스팅 노트 */

position: absolute;
width: 851px;
height: 34px;
left: 0px;
top: 0px;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 34px;
/* identical to box height */
letter-spacing: 0.1em;

color: #2B1E1A;



/* 추출 방식을 입력하세요. */

position: absolute;
width: 652px;
height: 40px;
left: 134px;
top: 52px;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 700;
font-size: 35px;
line-height: 40px;
/* identical to box height */
letter-spacing: 0.1em;

color: rgba(43, 30, 26, 0.27);



/* Line 10 */

position: absolute;
width: 851px;
height: 0px;
left: 0px;
top: 109px;

border: 1px solid #000000;


/* Rectangle 2 */

position: absolute;
left: 0%;
right: 86.84%;
top: 46.81%;
bottom: -6.38%;

background: #2B1E1A;
border-radius: 20px;


/* #레몬 */

position: absolute;
left: 0%;
right: 86.84%;
top: 59.57%;
bottom: 14.89%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 34px;
text-align: center;
letter-spacing: 0.1em;

color: #FFFFFF;



/* 상세정보 추가하기 */

position: absolute;
width: 271px;
height: 34px;
left: calc(50% - 271px/2 - 224.5px);
top: 509.77px;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 34px;
/* identical to box height */
letter-spacing: 0.1em;

color: #2B1E1A;



/* Rectangle 57 */

position: absolute;
width: 50px;
height: 50px;
left: calc(50% - 50px/2 - 401px);
top: 501.77px;

background: #2B1E1A;
border-radius: 10px;


/* Rectangle 58 */

position: absolute;
width: 221px;
height: 50px;
left: calc(50% - 221px/2 + 315.5px);
top: 501.77px;

background: #2B1E1A;
border-radius: 10px;


/* AI 자동 생성 */

position: absolute;
width: 205px;
height: 34px;
left: calc(50% - 205px/2 + 315.5px);
top: 509.77px;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 34px;
/* identical to box height */
text-align: center;
letter-spacing: 0.1em;

color: #FFFFFF;



/* dropdown */

position: absolute;
width: 260px;
height: 62px;
left: calc(50% - 260px/2 + 296px);
top: 877.77px;



/* Rectangle 59 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #E7E7E7;
border-radius: 10px;


/* 직접 입력 */

position: absolute;
left: 10%;
right: 3.46%;
top: 24.19%;
bottom: 20.97%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 34px;
/* identical to box height */
text-align: center;
letter-spacing: 0.1em;

color: #AAAAAA;



/* Polygon 1 */

position: absolute;
left: 10.77%;
right: 81.15%;
top: 30.65%;
bottom: 33.87%;

background: #676767;
transform: matrix(1, 0, 0, -1, 0, 0);


/* dropdown */

position: absolute;
width: 260px;
height: 62px;
left: calc(50% - 260px/2 + 296px);
top: 1005.77px;



/* Rectangle 59 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #E7E7E7;
border-radius: 10px;


/* 다크 */

position: absolute;
left: 10%;
right: 3.46%;
top: 24.19%;
bottom: 20.97%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 34px;
/* identical to box height */
text-align: center;
letter-spacing: 0.1em;

color: #4E4E4E;



/* Polygon 1 */

position: absolute;
left: 10.77%;
right: 81.15%;
top: 30.65%;
bottom: 33.87%;

background: #676767;
transform: matrix(1, 0, 0, -1, 0, 0);


/* dropdown */

position: absolute;
width: 260px;
height: 261px;
left: calc(50% - 260px/2 + 296px);
top: 1133.77px;



/* Group 40 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Rectangle 59 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #E7E7E7;
border-radius: 10px;


/* 필터 */

position: absolute;
left: 10%;
right: 3.46%;
top: 5.75%;
bottom: 81.23%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 34px;
/* identical to box height */
text-align: center;
letter-spacing: 0.1em;

color: #4E4E4E;



/* 에스프레소 */

position: absolute;
left: 6.54%;
right: 6.92%;
top: 25.29%;
bottom: 61.69%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 34px;
/* identical to box height */
text-align: center;
letter-spacing: 0.1em;

color: #AAAAAA;



/* 콜드브루 */

position: absolute;
left: 6.54%;
right: 6.92%;
top: 43.3%;
bottom: 43.68%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 34px;
/* identical to box height */
text-align: center;
letter-spacing: 0.1em;

color: #AAAAAA;



/* 필터 */

position: absolute;
left: 6.54%;
right: 6.92%;
top: 61.3%;
bottom: 25.67%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 34px;
/* identical to box height */
text-align: center;
letter-spacing: 0.1em;

color: #4E4E4E;



/* 직접 입력 */

position: absolute;
left: 6.54%;
right: 6.92%;
top: 79.31%;
bottom: 7.66%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 34px;
/* identical to box height */
text-align: center;
letter-spacing: 0.1em;

color: #AAAAAA;



/* Polygon 1 */

position: absolute;
left: 10.77%;
right: 81.15%;
top: 7.28%;
bottom: 84.29%;

background: #676767;
transform: matrix(1, 0, 0, -1, 0, 0);


/* Line 12 */

position: absolute;
left: 6.54%;
right: 6.54%;
top: 22.22%;
bottom: 77.78%;

border: 1px solid rgba(160, 160, 160, 0.5);


/* Rectangle 60 */

position: absolute;
width: 899px;
height: 218px;
left: calc(50% - 899px/2 + 0.5px);
top: 2422px;

background: #FFFFFF;


/* Frame 26 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 34px;

position: absolute;
width: 851.7px;
height: 170.68px;
left: calc(50% - 851.7px/2 - 0.15px);
top: 106px;



/* Group 12 */

width: 851.7px;
height: 34.23px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* 산미 */

position: absolute;
width: 99px;
left: calc(50% - 99px/2 - 376.35px);
top: 0%;
bottom: 80.08%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 34px;
/* identical to box height */
letter-spacing: 0.1em;

color: #2B1E1A;



/* Line 10 */

position: absolute;
width: 772.2px;
height: 0px;
left: 79.5px;
top: 22px;

border: 10px solid rgba(0, 0, 0, 0.1);


/* Line 11 */

position: absolute;
width: 588.6px;
height: 0px;
left: 79.5px;
top: 22px;

border: 10px solid #2B1E1A;


/* Rectangle 12 */

position: absolute;
left: 76.75%;
right: 20.62%;
top: 0%;
bottom: 86.9%;

background: #2B1E1A;
transform: matrix(0.64, -0.77, 0.64, 0.77, 0, 0);


/* Group 13 */

width: 851.7px;
height: 34.23px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 바디 */

position: absolute;
width: 88px;
left: calc(50% - 88px/2 - 381.85px);
top: 39.97%;
bottom: 40.11%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 34px;
/* identical to box height */
letter-spacing: 0.1em;

color: #2B1E1A;



/* Line 10 */

position: absolute;
width: 772.2px;
height: 0px;
left: 79.5px;
top: 90.23px;

border: 10px solid rgba(0, 0, 0, 0.1);


/* Line 11 */

position: absolute;
width: 415.8px;
height: 0px;
left: 79.5px;
top: 90.23px;

border: 10px solid #2B1E1A;


/* Rectangle 12 */

position: absolute;
left: 56.46%;
right: 40.91%;
top: 39.97%;
bottom: 46.92%;

background: #2B1E1A;
transform: matrix(0.64, -0.77, 0.64, 0.77, 0, 0);


/* Group 14 */

width: 851.7px;
height: 34.23px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* 쓴맛 */

position: absolute;
width: 99px;
left: calc(50% - 99px/2 - 376.35px);
top: 79.95%;
bottom: 0.13%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 34px;
/* identical to box height */
letter-spacing: 0.1em;

color: #2B1E1A;



/* Line 10 */

position: absolute;
width: 772.2px;
height: 0px;
left: 79.5px;
top: 158.45px;

border: 10px solid rgba(0, 0, 0, 0.1);


/* Line 11 */

position: absolute;
width: 160.2px;
height: 0px;
left: 79.5px;
top: 158.45px;

border: 10px solid #2B1E1A;


/* Rectangle 12 */

position: absolute;
left: 25.92%;
right: 71.45%;
top: 79.95%;
bottom: 6.95%;

background: #2B1E1A;
transform: matrix(0.64, -0.77, 0.64, 0.77, 0, 0);


/* Rectangle 62 */

position: absolute;
width: 972px;
height: 147px;
left: calc(50% - 972px/2);
top: -2px;

background: #FFFFFF;
border-radius: 50px 50px 0px 0px;


/* gridicons:cross */

position: absolute;
width: 75px;
height: 75px;
left: 26px;
top: 43px;



/* Vector */

position: absolute;
left: 17.58%;
right: 17.62%;
top: 17.58%;
bottom: 17.58%;

background: #2B1E1A;


/* 상세 정보 */

position: absolute;
width: 395px;
left: calc(50% - 395px/2 - 0.5px);
top: 1.95%;
bottom: 95.39%;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 68px;
text-align: center;
letter-spacing: 0.1em;

color: #2B1E1A;



/* Group 21 */

position: absolute;
width: 972px;
height: 238px;
left: 0px;
top: 1517px;



/* Rectangle 61 */

position: absolute;
width: 972px;
height: 238px;
left: 0px;
top: 1517px;

background: rgba(255, 255, 255, 0.7);
border-radius: 0px 0px 50px 50px;


/* Rectangle 2 */

position: absolute;
width: 889.07px;
height: 131.08px;
left: 41px;
top: 1607px;

background: #2B1E1A;
border-radius: 50px;


/* 기록하기 */

position: absolute;
width: 609.12px;
height: 43.95px;
left: 182.51px;
top: 1646px;

font-family: 'NanumSquareOTF';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 57px;
text-align: center;
letter-spacing: 0.1em;

color: #FFFFFF;

